2/films.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.org/baza" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BazaFilmów" type="baza:BazaFilmówType" xmlns:baza="http://www.example.org/baza"/>
  <xs:complexType name="FilmType">
    <xs:sequence>
      <xs:element type="xs:string" name="Tytuł"/>
      <xs:element type="xs:string" name="OryginalnyTytuł" minOccurs="0"/>
      <xs:element type="xs:string" name="DataPremiery"/>
      <xs:element type="baza:KrajeType" name="Kraje" xmlns:baza="http://www.example.org/baza"/>
      <xs:element type="xs:string" name="Reżyser"/>
      <xs:element type="xs:string" name="Cena"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="IdGatunku" use="optional"/>
    <xs:attribute type="xs:string" name="Ocena" use="optional"/>
  </xs:complexType>
  <xs:complexType name="GatunkiType">
    <xs:sequence>
      <xs:element type="baza:GatunekType" name="Gatunek" maxOccurs="unbounded" minOccurs="0" xmlns:baza="http://www.example.org/baza"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FilmyType">
    <xs:sequence>
      <xs:element type="baza:FilmType" name="Film" maxOccurs="unbounded" minOccurs="0" xmlns:baza="http://www.example.org/baza"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KrajeType">
    <xs:sequence>
      <xs:element name="Kraj" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="USA"/>
            <xs:enumeration value="Francja"/>
            <xs:enumeration value="Meksyk"/>
            <xs:enumeration value="Niemcy"/>
            <xs:enumeration value="Wielka Brytania"/>
            <xs:enumeration value="Polska"/>
            <xs:enumeration value="Kanada"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutorType">
    <xs:sequence>
      <xs:element name="Imię">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Bartłomiej"/>
            <xs:enumeration value="Paweł"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Nazwisko">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Ciach"/>
            <xs:enumeration value="Purgat"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Indeks">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="203860"/>
            <xs:enumeration value="203975"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BazaFilmówType">
    <xs:sequence>
      <xs:element type="baza:AutorzyType" name="Autorzy" xmlns:baza="http://www.example.org/baza"/>
      <xs:element type="baza:GatunkiType" name="Gatunki" xmlns:baza="http://www.example.org/baza"/>
      <xs:element type="baza:FilmyType" name="Filmy" xmlns:baza="http://www.example.org/baza"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GatunekType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Nazwa" use="optional"/>
        <xs:attribute type="xs:string" name="Id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AutorzyType">
    <xs:sequence>
      <xs:element type="baza:AutorType" name="Autor" maxOccurs="unbounded" minOccurs="0" xmlns:baza="http://www.example.org/baza"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>